.menu {
    background-color: white !important;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 50px; 
    margin-bottom: 25px;
    padding-bottom: 30px; 
    margin-left: 0%;
    display: flex;
    z-index: 2;
    border-bottom: rgb(247, 247, 247) 3px groove; 
    height: 100px;
}

.menu-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
} 

.container {
  max-width: 1519px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.container.ng-scope {
  overflow-x: hidden;
} 

.navbarwidth {
  position: absolute;
  text-align: center;
}

.navbar {
  position: absolute;
  text-align: center; 
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 1px black; 
  display: inline-block;
  margin-bottom: 50px;
  height: 70px;
  z-index: 1;
  vertical-align: middle;
 }

 .navbar a {
  position: relative;
  z-index: 1; 
 }

.navbarNavDropdown {
  padding-bottom: 100px;
  overflow-x: hidden;
}

.navbar-text {
  text-align: right;
}

.btn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  text-align: justify;
}
.btn1 {
  text-decoration: underline #F25C05;
}
.btn2 {
  text-decoration: underline #F25252;
}
.btn3 {
  text-decoration: underline #F2C1BD;
}
.btn4 {
  text-decoration: underline #F35E8C;
}


.content-boxL {
  padding: 50px; 
  width: auto; 
  margin: 70px; 
  margin-bottom: 50px; 
  margin-top: 200px;
}

.content-box .title {
  padding: 50px;
  margin-top: 200px;
  margin-bottom: 30px;
  height: 60;
  line-height: 30px;
  width: auto; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 40px;
  display: block; 
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.leText {
  overflow: hidden;
  padding: 70px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50;
  height: auto;
  line-height: 20px;
  width: auto; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  
}

.content-a {
  background-color: #f25c05;
  margin-left: 70px;
  margin-right: 70px;
} 
.content-m {
  background-color: #F25252;
  margin-left: 70px;
  margin-right: 70px;
}
.content-e {
  background-color: #F2C1BD;
  margin-left: 70px;
  margin-right: 70px;
}
.content-p {
  background-color: #fe9286;
  margin-left: 70px;
  margin-right: 70px;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) 
  .sticky + .content {
    padding-top: 60px;
  } */



.image-container {
  margin-top: 150px;
  margin-bottom: 200px;
  height: auto;
  padding: 100px;
  width: 1480px;
  position: relative;
  overflow-y: hidden; 
  overflow: hidden; 

  
  
} 

.aboutUs {
  width: auto; 
  text-align: center;
  overflow-y:hidden; 
  margin-right: 50px; 
  position: relative; 
  overflow: hidden; 
  float:middle; 
}







.col_white_amrc { color:rgb(0, 0, 0);} 
.footer-a {background: #f25c05;}
.footer-m {background: #F25252;}
.footer-e {background: #F2C1BD;}
.footer-p {background: #fe9286;}
.footer-main {background: rgb(243, 197, 105);} 

footer { width:100%; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px; margin-bottom:20px ;}
footer p { font-size:13px; color:rgb(0, 0, 0); padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:rgb(0, 0, 0);}
.footer_ul_amrc li a:hover{ color:rgb(0, 0, 0); text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.position { bottom: 1px;}

.footer_ul2_amrc {margin: 1px; list-style-type:none; padding:10px ;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #000000; padding-bottom:0px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 2px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:rgb(0, 0, 0); margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:rgb(0, 0, 0); border:1px solid rgb(0, 0, 0); padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}


.pseudoEl::before {
    font-family: "icomoon";
    content: '\&#xe98c;';
}
#infos article {
    display: none;
    visibility: hidden;
}
#infos article.active{
    display: block;
    visibility: visible;
}

.footer {
    position: bottom;
    width: 100%;
    left: 0%; 
    bottom: 10%;
    text-align: center;
}




.parent { height: 300px; width: 600px; overflow: hidden;}
      /* set height and width for slide elements */
      .element {float: left; height: 500px; width: 716px; background-color: grey;}
      /* set the width of the slides div and animation. */
      .slides { width: calc(716px * 4); animation: slideShow 10s ease infinite;}
      /* changing the font size and text color for every slide */
      .element:nth-child(1) {font-size: 2rem; color: blue;}
      .element:nth-child(2) {font-size: 3rem; color: black;}
      .element:nth-child(3) {font-size: 4rem; color: green;}
      .element:nth-child(4) {font-size: 5rem; color: pink;}
      /* creating the animation for the slideShow */
      /* for more slides, users can take percentages accordingly. */
      @keyframes slideShow {
         20% {margin-left: 0px;}
         40% {margin-left: calc(-716px * 1);}
         60% {margin-left: calc(-716px * 2);}
         80% {margin-left: calc(-716px * 3);}
      }